extends componentes/plantilla.pug
block contenido
	section.intro 
		.intro__imagen: img(src="images/imagen.png" type="image")
		.intro__contenido 
			h2 #{titulo}
			p 
				| Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic debitis        
				| reprehenderit quis? Sunt velit, eveniet numquam blanditiis repellendus 
				| est? Aperiam alias libero eum! Dicta unde commodi velit tempora expedita 
				| error.
				span Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, voluptatem nulla. Non eius libero maiores?
			a.boton Leer más
	main.contenido 
		+caja("imagen.png", titulos[1], "Lorem ipsum dolor sit amet consectetur" )
		+caja("imagen.png", titulos[2], "Lorem ipsum dolor sit amet consectetur" )
		+caja("imagen.png", titulos[3], "Lorem ipsum dolor sit amet consectetur" )
	
	